{% extends 'base.html' %}

{% block title %}Services{% endblock title %}

{% block body %}


    
</style>
<!-- Custom styles for this template -->
<link href="album.css" rel="stylesheet">
</head>
<body>
<header>
<div class="collapse bg-dark" id="navbarHeader">
<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-7 py-4">
      {% comment %} <h4 class="text-white">About</h4>
      <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p> {% endcomment %}
    </div>
    <div class="col-sm-4 offset-md-1 py-4">
      {% comment %} <h4 class="text-white">Contact</h4>
      <ul class="list-unstyled">
        <li><a href="#" class="text-white">Follow on Twitter</a></li>
        <li><a href="#" class="text-white">Like on Facebook</a></li>
        <li><a href="#" class="text-white">Email me</a></li> {% endcomment %}
      {% comment %} </ul> {% endcomment %}
    </div>
  </div>
</div>
</div>
{% comment %} <div class="navbar navbar-dark bg-dark shadow-sm">
<div class="container d-flex justify-content-between">
  <a href="#" class="navbar-brand d-flex align-items-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
    <strong>Album</strong>
  </a> {% endcomment %}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
</div>
</header>

<main role="main">

<section class="jumbotron text-center">
<div class="container">
  <h1 class="jumbotron-heading">Raj Men's & Women's Shoes showRoom</h1>
  <p class="lead text-muted">Ye juta jante ho kese ak juta Apne jese dusre jute se vada karta ha Hamesha sat rahane ka Ak ko Agar kuch ho bhi jaye to Dono jute Ak Dusre ke bina adhure ha Vo Insan ki taraha sirf Vada nahi karte Balaki sat bhi rhate he..Hamesha Ak sat chalte he..</p>
  <p>
    {% comment %} <a href="#" class="btn btn-primary my-2">Main call to action</a>
    <a href="#" class="btn btn-secondary my-2">Secondary action</a> {% endcomment %}
  </p>
</div>
</section>

<div class="album py-5 bg-light">
<div class="container">

  <div class="row">
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="https://rukminim1.flixcart.com/image/580/696/l2nmnww0/shoe/x/c/t/8-ga2882-8-adidas-ftwwht-ambsky-orarus-original-imagdyczngyhuagc.jpeg?q=50" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="https://rukminim1.flixcart.com/image/580/696/kv8fbm80/shoe/y/k/s/7-hmi71-adidas-mysblu-ftwwht-vivred-original-imag86cpxqc9qgeg.jpeg?q=50" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="https://rukminim1.flixcart.com/image/580/696/l3xcr680/shoe/v/w/f/5-gx8226-5-adidas-ftwwht-sanbei-sabemt-original-imagexrbjc3pgtmq.jpeg?q=50" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="https://rukminim1.flixcart.com/image/580/696/l1mh7rk0/shoe/6/9/h/5-gy0700-5-adidas-cblack-clpink-grefiv-original-imagd5gcbxh2jwjf.jpeg?q=50" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="https://rukminim1.flixcart.com/image/580/696/l1pc3gw0/shoe/b/b/e/4-gx5717-4-adidas-ftwwht-ltpink-almlim-original-imagd7hqfuhpprmv.jpeg?q=50" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="https://rukminim1.flixcart.com/image/580/696/ktbu6q80/shoe/o/e/s/7-lti25-7-adidas-cblack-ftwwht-cblack-original-imag6pa47twhssw8.jpeg?q=50" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="https://rukminim1.flixcart.com/image/580/696/l1mh7rk0/shoe/0/7/o/5-gy0700-5-adidas-cblack-clpink-grefiv-original-imagd5gcavkbbuxe.jpeg?q=50" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="https://rukminim1.flixcart.com/image/580/696/l2nmnww0/shoe/o/v/w/6-ga0875-6-adidas-maglil-prptnt-cblack-original-imagdye6g2befwfz.jpeg?q=50" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img src="https://img.stadiumgoods.com/14/43/32/32/14433232_34512263_2048.jpg" class="d-block w-100" alt="...">
        <div class="card-body">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            </div>
            <small class="text-muted">9 mins</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</main>
{% endblock body %}
